.section {
	padding: 0;
	max-width: var(--maxWidth-full);
	font-size: var(--fontSize-1);
	font-family: var(--fontFamily-sans);
}

.icon {
	margin-top: var(--spacing-10);
	width: 160px;
	border-radius: 20px;
}

.title {
	text-align: right;
	font-size: var(--fontSize-0);
	display: inline;
}

.recent {
	margin: var(--spacing-12) auto var(--spacing-2);
	width: 100%;
}

.about {
	font-size: var(--fontSize-3);
	padding-top: var(--spacing-8);
	margin-bottom: var(--spacing-16);
}

.aboutBody {
	margin: var(--spacing-12) auto var(--spacing-2);
	width: 100%;
	text-align: justify;
}

.aboutBody p {
	padding: 0 0 2rem;
	line-height: 1.85;
	font-family: var(--fontFamily-serif);
}

.aboutBody span {
	font-family: var(--fontFamily-serif);
}

.portrait {
	padding-top: var(--spacing-4);
}

.aboutFooter {
	text-align: right;
}

.toContact {
	font-size: var(--fontSize-1);
}

.viewall {
	text-align: right;
	margin: 0 0 var(--spacing-10);
}

.viewallButton {
	font-size: var(--fontSize-1);
	margin-top: var(--spacing-6);
}

@media (max-width: 1220px) {
	.about {
		font-size: var(--fontSize-2);
		margin-top: 0;
	}
	.portrait {
		padding-top: 0;
		padding-right: var(--spacing-8);
		float: left;
	}
}

@media (max-width: 480px) {
	.about {
		font-size: var(--fontSize-1);
		padding-top: 0;
	}
	.icon {
		margin-top: 0;
	}
	.aboutBody {
		text-align: left;
	}
}
