{
    templateData:
        site:
            url: "http://tomohisaoda.com"
            title: "Tomohisa Oda"
            author: "linyows"
            email: "linyows@email.com"
            # heading: 'Your Website'
            # subheading: """
                # Welcome to your new <t>links.docpad</t> website!
                # """
            # footnote: """
                # This website was created with <t>links.bevry</t>’s <t>links.docpad</t>
                # """
            # copyright: """
                # Your chosen license should go here... Not sure what a license is? Refer to the <code>README.md</code> file included in this website.
                # """
            # description: """
                # When your website appears in search results in say Google, the text here will be shown underneath your website's title.
                # """
            # keywords: """
                # place, your, website, keywoards, here, keep, them, related, to, the, content, of, your, website
                # """
            # analytics:
                # reinvigorate: false # instead of false, use your reinvigorate tracker id here
                # google: false  # instead of false, use your google analytics tracker id here
            # feeds: [
                    # href: 'http://your-website.com/atom.xml'
                    # name: 'Blog Posts'
                # ,
                    # href: 'https://api.twitter.com/1/statuses/user_timeline.atom?screen_name=docpad&count=20&include_entities=true&include_rts=true'
                    # name: 'DocPad Tweets'
            # ]

            # social:
                # twitter:
                    # url: 'https://twitter.com/docpad'
                # github:
                    # url: 'https://github.com/balupton'
                # vimeo:
                    # url: 'https://vimeo.com/balupton'
                # flickr:
                    # url: 'http://www.flickr.com/people/balupton/'
        # links:
            # docpad: '<a href="https://github.com/bevry/docpad" title="Visit on GitHub">DocPad</a>'
            # historyjs: '<a href="https://github.com/balupton/history.js" title="Visit on GitHub">History.js</a>'
            # bevry: '<a href="http://bevry.me" title="Visit Website">Bevry</a>'
            # opensource: '<a href="http://en.wikipedia.org/wiki/Open-source_software" title="Visit on Wikipedia">Open-Source</a>'
            # html5: '<a href="http://en.wikipedia.org/wiki/HTML5" title="Visit on Wikipedia">HTML5</a>'
            # javascript: '<a href="http://en.wikipedia.org/wiki/JavaScript" title="Visit on Wikipedia">JavaScript</a>'
            # nodejs: '<a href="http://nodejs.org/" title="Visit Website">Node.js</a>'
            # author: '<a href="http://balupton.com" title="Visit Website">Benjamin Lupton</a>'
            # cclicense: '<a href="http://creativecommons.org/licenses/by/3.0/" title="Visit Website">Creative Commons Attribution License</a>'
            # mitlicense: '<a href="http://creativecommons.org/licenses/MIT/" title="Visit Website">MIT License</a>'
            # contact: '<a href="mailto:b@bevry.me" title="Email me">Email</a>'

        # getSiteTitle: ->
            # if @document.title
                # "#{@document.title} | #{@site.title}"
            # else
                # @site.title
    # plugins:
        # feedr:
            # feeds:
                # twitter:
                    # url: "https://api.twitter.com/1/statuses/user_timeline.json?screen_name=docpad&count=20&include_entities=true&include_rts=true"
                # github:
                    # url: "https://github.com/balupton.atom"
                # vimeo:
                    # url: "http://vimeo.com/api/v2/balupton/videos.json"
                # flickr:
                    # url: "http://api.flickr.com/services/feeds/photos_public.gne?id=35776898@N00&lang=en-us&format=json"
    # collections:
        # pages: (database) ->
            # database.findAll(pageOrder: $exists: true)
        # posts: (database) ->
            # database.findAll(tags: $has: 'post')
}
