// Coded in Stylus: http://learnboost.github.com/stylus/

// ====================================
// Imports

// Reset: http://necolas.github.com/normalize.css/
@import '/vendor/normalize.css'

// nib: http://visionmedia.github.com/nib/
@import 'nib'


// ====================================
// Styles

xxxdark = #000
xxdark  = #399D49
xdark   = #6BD07B
dark    = #458950
neutral = #80E991
hi      = #bbb
xhi     = #fff
xxxhi   = #fff

.clr
  clear: both
  float: none
  overflow: hidden
  width: 1px
  height: 0px
  margin: 0 -1px -1px 0
  border: 0
  padding: 0
  font-size: 0
  line-height: 0
.pkg:after
  content: " "
  display: block
  visibility: hidden
  clear: both
  height: 0.1px
  font-size: 0.1em
  line-height: 0
* html .pkg
  display: inline-block
  height: 1%
.pkg
  display: block

body
  padding: 50px 20px
  text-align: center
  font-size: 13px
  font-family: Prata, serif, "MS P明朝", "ヒラギノ明朝 Pro W3", "平成明朝"
  background-image: url(../images/bg3.png)
  background-position: 0 0
  background-repeat: repeat

a
  color: xxxdark

header
  padding: 0 0 30px
  h1
    font-size: 25px
    margin: 0
    padding-left: 20px
    letter-spacing: 15px
    font-weight: normal
    a
      padding: 10px 0
      text-decoration: none
      display: block
      text-shadow: 0 2px xxxhi
  p
    color: hi
    margin: 0
    padding: 6px 0
    font-size: 16px

article
  padding: 0
  h1
    font-size: 20px
    color: dark
    font-weight: bold
    margin: 0 auto
    padding: 0 0 30px
  h2
    font-size: 15px
    font-weight: normal
    margin: 0 auto
  p
    width: 450px
    line-height: 1.7
    font-size: 16px
    text-align: left
    margin: 0 auto
    padding: 0 0 20px
    text-indent: 1em
    code
      border: 1px solid #ddd
      padding: 3px 5px
      font-size: 14px
      border-radius: 5px
      -webkit-border-radius: 5px
      -moz-border-radius: 5px
      color: #666
      margin: 0 5px 3px

footer
  p
    padding: 0
    margin: 0
  margin: 50px 0
  padding: 7px 0
  color: hi
  font-size: 12px
  line-height: 1.5

ul.posts
  margin: 70px 0 20px 200px
  padding: 0
  font-size: 15px
  display: inline-block
  list-style-type: none
  line-height: 1.5
  color: xxdark
  li
    @extend .pkg
    p
      margin: 0
      padding: 0
      line-height: 1.5
      font-size: 16px
    .date
      float: left
      width: 6em
      display: inline-block
      // background-color: xdark
      text-shadow: 0 1px neutral
      padding: .4em 1em .3em
      text-align: right
      vendor('transform', rotate(-15deg) skew(-15deg) translate(0,-25px))
      background-image: url(../images/arrow.png)
      background-position: -2px 50%
      background-repeat: no-repeat
    .body
      text-align: left
      float: left
      width: 30em
      vendor('transform', rotate(10deg) skew(10deg) translate(-6px))
      a
        display: inline-block
        text-decoration: none
        // background-color: neutral
        color: xxxhi
        text-shadow: 0 -1px xdark
        padding: .4em 3em .3em 1em
        text-align: left
        background-image: url(../images/arrow2.png)
        background-position: right 50%
        background-repeat: no-repeat
      a:hover
        background-image: url(../images/arrow3.png)
        text-shadow: 0 1px xxxdark
      span
        display: block
        padding: 0 1em
