// Coded in Stylus: http://learnboost.github.com/stylus/

// ====================================
// Imports

// Reset: http://necolas.github.com/normalize.css/
@import '/vendor/normalize.css'

// nib: http://visionmedia.github.com/nib/
@import 'nib'


// ====================================
// Styles

xxxdark = #000
xxdark  = #399D49
xdark   = #6BD07B
dark    = #458950
neutral = #80E991
hi      = #bbb
xhi     = #fff
xxxhi   = #fff

clearfix()
  &:before,
  &:after
    content ''
    display: block
  &:after
    clear both
  &
    zoom 1

body
  padding: 15px 20px
  text-align: center
  font-size: 13px
  font-family: serif, "MS P明朝", "ヒラギノ明朝 Pro W3", "平成明朝"
  background-image: url(../images/bg3.png)
  background-position: 0 0
  background-repeat: repeat

a
  color: xxxdark

header
  padding: 0
  margin: 0 auto
  text-align: left
  display: inline-block
  .greeting
    color: hi
  h1
    margin: 0
    padding: 0 117px 0 0
    a
      display: block
      width: 462px
      height: 133px
      text-indent: -7777em
      background-image: url(../images/logo.png)
      background-position: 0 0
      background-repeat: no-repeat

article
  padding: 50px 0 0
  color: #555
  h1
    font-size: 20px
    color: #E8C49B
    text-shadow: 0 1px #D0B18D
    font-weight: bold
    margin: 0 auto
    padding: 0 0 30px
  h2
    font-size: 15px
    font-weight: normal
    margin: 0 auto
  p
    width: 450px
    line-height: 1.7
    font-size: 16px
    text-align: left
    margin: 0 auto
    padding: 0 0 20px
    text-indent: 1em
    code
      border: 1px solid #ddd
      padding: 3px 5px
      font-size: 14px
      border-radius: 5px
      -webkit-border-radius: 5px
      -moz-border-radius: 5px
      color: #666
      margin: 0 5px 3px

footer
  p
    padding: 0
    margin: 0
  margin: 50px 0
  padding: 7px 0
  color: hi
  font-size: 12px
  line-height: 1.5

ul.posts
  margin: -60px 0 20px
  padding: 0
  font-size: 15px
  display: inline-block
  list-style-type: none
  line-height: 1.5
  color: #80E991
  li
    clearfix()
    padding-bottom: 7px
    p
      margin: 0
      padding: 0
      line-height: 1.5
      font-size: 16px
    .date
      float: left
      color: #FFCC99
      width: 20em
      display: inline-block
      text-align: right
      vendor('transform', rotate(20deg) skew(20deg) translate(0, 7px))
      span
        display: inline-block
        padding: .5em 1em .5em 1.5em
        text-align: right
        background-image: url(../images/arrow.png)
        background-position: -2px 50%
        background-repeat: no-repeat
        text-shadow: 0 -1px #B7A081
    .body
      text-align: left
      float: left
      width: 35em
      vendor('transform', rotate(-12deg) skew(-12deg) translate(-16px))
      a
        display: inline-block
        text-decoration: none
        color: #FFF
        padding: .6em 3em .5em .3em
        text-align: left
        background-image: url(../images/arrow2.png)
        background-position: right 50%
        background-repeat: no-repeat
        text-shadow: 0 -1px #D0B18D
      a:hover
        background-image: url(../images/arrow3.png)
        text-shadow: 0 -1px #D0B18D
      span
        padding: 0 0 0 .3em
        font-size: 12px
        font-weight: bold
        vertical-align: bottom
