name: Build and Deploy

on:
  repository_dispatch:
  workflow_dispatch:
  pull_request:
  push:
    branches:
      - main
  schedule:
    - cron: 0 2 * * *

jobs:
  build:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node-version: [24.x]
    steps:
    - uses: actions/checkout@71cf2267d89c5cb81562390fa70a37fa40b1305e # v6-beta
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
      with:
        node-version: ${{ matrix.node-version }}
        cache: npm
    - name: Run builds and deploys with ${{ matrix.node-version }}
      run: |
        npm i && npm run lint

  deploy:
    runs-on: ubuntu-latest
    needs: [build]
    if: github.ref == 'refs/heads/main'
    env:
      NOTION_TOKEN: ${{ secrets.NOTION_TOKEN }}
      ROTION_DEBUG: ${{ secrets.ROTION_DEBUG }}
    steps:
    - uses: actions/checkout@71cf2267d89c5cb81562390fa70a37fa40b1305e # v6-beta
    - uses: actions/setup-node@2028fbc5c25fe9cf00d9f06a71cc4710d4507903 # v6.0.0
      with:
        node-version: 24
        cache: npm
    - name: Restore next cache
      uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
      with:
        path: |
          .next/cache
        key: nextjs-${{ hashFiles('**/package-lock.json') }}-${{ hashFiles('**.[jt]s', '**.[jt]sx') }}
        restore-keys: |
          nextjs-${{ hashFiles('**/package-lock.json') }}-
    - name: Restore rotion cache
      uses: actions/cache@0057852bfaa89a56745cba8c7296529d2fc39830 # v4.3.0
      with:
        path: |
          .cache
          public/images
        key: rotion
        restore-keys: rotion
    - name: Run next build
      run: |
        npm i && npm run build
    - name: Deploy by SCP
      uses: appleboy/scp-action@ff85246acaad7bdce478db94a363cd2bf7c90345 # v1.0.0
      with:
        host: ${{ secrets.HOST }}
        username: ${{ secrets.USERNAME }}
        password: ${{ secrets.PASSWORD }}
        port: ${{ secrets.PORT }}
        source: "out/*"
        target: "web/tomohisaoda.com"
